/* CSS Document */
@import url(fonts/roboto/roboto.css);
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url(fonts/montserrat/montserrat.css);
@import url(fonts/calibri/calibri.css);
@import url(fonts/helena/helena.css);
@import url(fonts/material-design/material-design.css);


/*### BOOTSTRAP ####*/
img{width:100%;}
.container-fluid{padding:0;width:100%}
.container-marges{padding:0 2%; max-width:1400px;}
.row{margin:0;}
.full{margin-left:-2%; margin-right:-2%; width:104%;}
.col-sm-12, .col-xs-12{padding:0;}
.vcenter {    display: inline-block;    vertical-align: middle;    float: none; margin-left:-1%; margin-right:-1%;}
.vcenter-bottom{ display: inline-block;    vertical-align:bottom;    float: none; }

/*###### GENERAL #########*/
body{height:100%;font-family: 'Quicksand', sans-serif; }
.header.ui-header{ height:12%; background-image: url('../images/fondo-header.png'); border:none;min-height: 17vw;}
.ui-content{height:88%;-webkit-overflow-scrolling: touch; }
.footer.ui-footer{height:12%; border:none; overflow:hidden; background-color:transparent;}
.ui-page-theme-a .back.ui-btn{background:url('../icons/enrera.png'); background-size:11px auto; background-position:center center; background-repeat:no-repeat; border:none; position:absolute; left:5%; top:70%; margin-top:-8px; box-shadow:none; width:27px; height:18px;}
.seguent.ui-btn-right{background:url('../icons/endavant-ico.png'); background-size:19px auto; background-position:center center; background-repeat:no-repeat; border:none; position:absolute; right:2em; top:70%; margin-top:-8px; box-shadow:none; width:27px; height:18px;}
.final.ui-btn-right{  background:url('../icons/endavant-ico.png'); background-size:19px auto; background-position:center center; background-repeat:no-repeat; border:none; position:absolute; right:2em; top:70%; margin-top:-8px; box-shadow:none; width:27px; height:18px;}
.ui-mobile-viewport{font-family: 'Quicksand', sans-serif; font-weight:300;  background:none !important; background-color:transparent !important;}
.ui-mobile .ui-page{background:url('../images/fondo.png');background-size:100% 100%; height:100%;}
.ui-page-theme-a{background:transparent;}
.text-avis{padding:2em 5px 0; font-style: italic; font-size: 12px; color: RGB(153, 153, 153)}

a:hover{text-decoration:none;}
a:active, a:focus{opacity:0.6; text-decoration:none;}
::-webkit-input-placeholder{color:#999;}:-moz-placeholder{color:#999; opacity: 1;}::-moz-placeholder {color:#999;opacity: 1;}:-ms-input-placeholder { color:#999;}

#loading{position:fixed; z-index:10; display:none; width:100%; height:100%; background-image:url('../icons/loading.gif'); background-color:rgba(256,256,256,0.7); background-size:19vw auto; background-position:center center; background-repeat:no-repeat;}



/*######## TITOLS ##########*/
h1{color:#fff; font-size:48px; text-align:center; font-weight:700; text-shadow:none; margin-top:30px;}
h2{color:#fff; font-size: 36px; text-align: center; font-weight: 300; text-shadow:none;margin-top: 0;margin-bottom: 10vh;}
.pagina h4.ui-title{font-size:13px; font-weight:600; color:#fff; text-shadow:none; padding-top:14%; margin:0;}
h3{font-size:19px; color:#fff; text-align:center; text-shadow:none; margin-top:30px;}
a span{color:#fff; display:inline-block; width:100%; font-size:14px; text-align:center; font-weight:300; text-shadow:none;}

/*######## ICONS ##########*/
.icon{width:25px; height:22px; background-repeat:no-repeat; background-size:20px auto; background-position:center center; position:absolute; top:46%;}
.ui-header.ui-header .search{background-image:url('../icons/search.png'); right:4%; margin-top:9px;}
.ui-header.ui-header .plus{background-image:url('../icons/plus.png'); right:20%; margin-top:9px;} 
.ui-header.ui-header .refresh{background-image:url('../icons/refresh.png'); right:12%; margin-top:9px;}




/*######## MAPA ###################*/


/*######## HOME - NOU ###################*/
#home-nou .ui-content{background-image: url(../images/fondo-3.jpg); background-size: cover; background-position: center; height: 100vh;padding: 1vw 12vw;}
#home-nou h1{  margin:12vh 0 7vh; text-align: center; font-size: 12vw; font-family: 'Helena';}
#home-nou .pastilla{margin: 0.1vw; padding: 22vw 2vw 5vw 2vw; text-align: center; font-size: 4vw; color:#fff; font-weight: 700; text-shadow:none;display: inline-block; width: 100%; text-transform: uppercase;}
#home-nou .pastilla::before{position:absolute; width:15vw; height: 15vw; background-image: url(../icons/sprite_info_turisme.svg); background-size: 200vw; content: " ";top: 5.5vw;left: 11.5vw;}
#home-nou .pastilla.oncpd{background-color: #779174; }
#home-nou .pastilla.oncpd::before{background-position:-157vw -62vw;}
#home-nou .pastilla.esdevn{background-color: #c5b141;}
#home-nou .pastilla.esdevn::before{background-position:-161.5vw -108vw;}
#home-nou .pastilla.sprts{background-color: #985d61;}
#home-nou .pastilla.sprts::before{background-position:-161.5vw -133vw;}
#home-nou .pastilla.notc{background-color: #708e9a;}
#home-nou .pastilla.notc::before{background-position:-161.5vw -155vw;}
#home-nou .pastilla.rdio{background-color: #d4df86;}
/*#home-nou .pastilla.rdio::before{background-position:-161.5vw -108vw;}*/
#home-nou .ui-content > a:first-child{position:absolute; right: 20px; top: 20px; width:10vw; height: 10vw; background-image: url(../icons/sprite_info_turisme.svg); background-size: 115vw; background-position: -91vw -115.5vw;z-index: 99;}
#home-nou .ui-content > .col-xs-6{padding: 0.5vw;}
#home-nou .radio_pastilla{float: right; margin-top: 8vh; width: 24vw;}
#home-nou .radio_pastilla > a{ font-size: 3.5vw; border-radius: 12vw;padding: 14vw 0 0;height: 23vw; }
#home-nou .radio_pastilla > a::before{background-size: 115vw;background-position: -93vw -101vw;top: 3vw;left: 7.5vw;width: 10vw;height: 10vw;}


/*######## HOME #############*/
.ui-mobile #home.ui-page{/*background-image:url('../images/fondo_home.png');*/}
#home .logo img{ margin-bottom: 10vh; width: 300px;}
#home .header{display:none;}
#home .ui-content{ height:100%; }
#home .icon-config{width:37px; height:37px; background:transparent url('../icons/config.png') no-repeat center center; background-size:35px auto; margin:1em; float:right; }
#home .btn-home{width:220px; padding:40px 10px; color:#fff; font-size:12px; font-family: 'Quicksand', sans-serif; text-transform: uppercase; text-align: center; border:3px solid #fff; display: inline-block; text-shadow:none; margin-bottom: 10px; border-radius: 3px; font-weight: 400; background:rgba(256,256,256,0.1);transition:all 0.3s ease-in-out;}
#home .ui-content .col-xs-12{text-align: center;}
#home .btn-home:hover, #home .btn-home:focus{background:rgba(256,256,256,0.2);}
#home .ui-content > div:first-child{background-image: url('../icons/home.png');background-size: 7.5vw;background-position: right center;background-repeat: no-repeat;height: 8.75vw;}

/*######## AFEGIR INCIDENCIA #############*/
#afegirIncidencia h2{margin-bottom:20px;}
#afegirIncidencia .header{background:url('../images/logo2.png'); background-position:center 60% ; background-size:40% auto; background-repeat:no-repeat;}
#afegirIncidencia .ui-content{height:88%;}
#afegirIncidencia .t-incidencies{margin-top:10%;}
#afegirIncidencia .t-incidencia{padding:10px; background:rgba(256,256,256,0.5); margin:5px 0; width:100%;height: 135px; transition:all 0.3s ease-in-out; text-align: center;}
#afegirIncidencia .t-incidencia.xarxa {background:rgba(256,256,256,0.15);}
#afegirIncidencia .t-incidencia.parcs {background:rgba(256,256,256,0.12);}
#afegirIncidencia .t-incidencia.neteja {background:rgba(256,256,256,0.1);}
#afegirIncidencia .t-incidencia.enllumenat {background:rgba(256,256,256,0.08);}
#afegirIncidencia .t-incidencia.mobiliari {background:rgba(256,256,256,0.05);}
#afegirIncidencia .t-incidencia.medi {background:rgba(256,256,256,0.03);}
#afegirIncidencia .t-incidencia.altres {background:rgba(256,256,256,0.02);}
#afegirIncidencia .t-incidencia:hover, #afegirIncidencia .t-incidencia:focus{background:rgba(256,256,256,0.2);}
#afegirIncidencia .t-incidencia img{padding:15px 0 0;height: 70px;width: auto;}
#afegirIncidencia .t-incidencia span.neteja{padding-top: 0;}
#afegirIncidencia .t-incidencia span{font-size: 12px; padding-top: 15px;line-height: 15px; font-weight: 700;}
#afegirIncidencia .footer{display:none;}
#afegirIncidencia .imgIncidencia{height:292px; background:#EBEBEB;}
#afegirIncidencia .btns-incidencies{max-width: 500px;margin: auto;}

/*######## AFEGIR INCIDENCIA PASO 1  #############*/
.nova-incidencia .ui-content{margin-left: -1em;margin-right: -1em;width: calc(100% + 2em);background:#fff;}
#incidenciaPasa1 .fila-img{position:relative;padding: 0px 2em;color:#999;font-size: 15px;margin-top: 12%;}
#incidenciaPasa1 .imgIncidencia{cursor:pointer; margin-bottom:10px; overflow:hidden; position:relative; }
#incidenciaPasa1 .imgIncidencia.col-xs-6{  margin-top:0px;}
#incidenciaPasa1 .imgIncidencia.col-xs-6:first-child{}
#incidenciaPasa1 .imgIncidencia.col-xs-6:last-child{margin-top:0;}
#incidenciaPasa1 .imgIncidencia:focus, #incidenciaPasa1 .imgIncidencia:active, #incidenciaPasa1 .getImg:focus, #incidenciaPasa1 .getImg:active{opacity:0.6}
#incidenciaPasa1 .getImg{width: 50px; cursor:pointer;border-radius: 25px;}
#incidenciaPasa1 .getImg-gallery{width: 50px;cursor:pointer;border-radius: 25px;}
#incidenciaPasa1 .removeImg{position: absolute;width: 35px; right:7px;top: 2px; cursor:pointer;z-index:9;border-radius: 25px; display:none;}
#incidenciaPasa1 .getImg.obligatori{box-shadow:0 0 2px 2px red;}
#incidenciaPasa1 .info{padding:0 2em 0;font-size:15px; color:#999999;}
#incidenciaPasa1 .afegeix{padding: 20px 0;display: inline-block;}
#incidenciaPasa1 .pasa1-img{width:100%; height: 87px; overflow: hidden;float:left;}
#incidenciaPasa1 .pasa1-img img{width:100%; height: auto;}
#incidenciaPasa1 .btn-afg-img .getImg, #incidenciaPasa1 .btn-afg-img .getImg-gallery{margin:20px auto 0;}
#incidenciaPasa1 .btn-afg-img{}

.nova-incidencia input[type="text"], .nova-incidencia input[type="email"], .nova-incidencia input[type="tel"], .nova-incidencia input[type="password"]{padding-left:43px; background:url('../icons/input_text.png'); background-size:30px auto; background-repeat:no-repeat; background-position:6px center; box-shadow:none; padding-bottom:20px; border-bottom:1px solid #999999; padding-top:23px; color:#999; font-family: 'Open Sans', sans-serif;}
.nova-incidencia textarea.ui-input-text{padding-left:43px; background:url('../icons/textarea.png'); background-size:30px auto; background-repeat:no-repeat; background-position:6px 9px;  padding-top:10px; padding-top:15px; color:#999; resize:none; height:50% !important; overflow: scroll; border:none; }
.nova-incidencia input[type="text"].obligatori, .nova-incidencia input[type="password"].obligatori, .pagina textarea.obligatori, .nova-incidencia input[type="email"].obligatori,.nova-incidencia input[type="tel"].obligatori{box-shadow:0 0 2px 2px red; border-radius:6px;}
.nova-incidencia .ui-input-text{border:none; box-shadow:none; border-radius:0;}
.nova-incidencia .footer{background:#fff; text-align:right; padding:0 1em;}
.nova-incidencia .footer img{width:60px;margin-top:10px;}
.nova-incidencia .footer img:focus, #incidenciaPasa1 .footer img:active{opacity:0.6;}
.nova-incidencia .seguent-bottom{position:fixed; bottom: 2%; right: 2%; width: 80px;}
.nova-incidencia .seguent-bottom:hover,.nova-incidencia .seguent-bottom:focus{opacity:0.5;}

/*######## AFEGIR INCIDENCIA PASO 1b  #############*/

#incidenciaPasa1b .info{padding:0px 2em;margin-top:10%; height: 90%;}
#incidenciaPasa1b .ui-content .row{height:100%;}
#incidenciaPasa1b .info .text-avis{padding-top:0;}

/*######## AFEGIR INCIDENCIA PASO 2   #############*/
.ui-mobile #incidenciaPasa2.ui-page{background:none !important; background-color:transparent !important;}
#incidenciaPasa2 .ui-content{padding: 0;}
#incidenciaPasa2 .info{padding: 20px 5%;}
#incidenciaPasa2 input[type="text"]{background:none; padding:8px 5px; margin-bottom:15px;padding-left:43px; background:url('../icons/textarea.png'); background-size:30px auto; background-repeat:no-repeat; background-position:6px center; }
.mapaIncidencia{height:100%; }
.mapaIncidencia #mapaIncidencia{height:50%;}
#incidenciaPasa2.nova-incidencia .ui-content{background:none;}
#incidenciaPasa2 h6{text-align:center; opacity: 0.6; font-family: 'Open Sans', sans-serif; }

/*######## AFEGIR INCIDENCIA PASO 2 B  #############*/
#incidenciaPasa2B .ui-content{padding:20% 2em 10%;margin:0; width:100%;}
#incidenciaPasa2B input{background:none; padding:10px 0 3px; margin:-11px 0 35px 0; font-family: 'Quicksand', sans-serif; font-size: 16px; color:#818080; font-weight: 700;}
.ui-checkbox label.ui-btn{border:none; background:transparent;  color:#a7a7a7; font-weight:normal;font-family: 'Calibri';font-size: 15px; font-weight: 300; margin: 7vh 10% 7vh; padding-left: 47px;}
.ui-btn.ui-checkbox-off::after {border:2px solid #999; border-radius: 0; background: transparent;}
.ui-page-theme-a .ui-btn:hover{color:#a7a7a7;}
#incidenciaPasa2B #llinatges_usuari{margin-bottom:20px;}
.ui-page-theme-a .ui-checkbox-on::after{background-color:#45a31f;}
#rebreNotificacioInfo, #rebreNotificacio, #incidenciaNoVisible{display:none;}


/*######## AFEGIR INCIDENCIA PASO 3   #############*/
#incidenciaPasa3{background-image: url('../images/fondo-2.jpg');}
#incidenciaPasa3 .header.ui-header{background:transparent;}
#incidenciaPasa3.nova-incidencia .ui-content{background:transparent;}
#incidenciaPasa3 .quadre{padding:5% 12% 7%;}
#incidenciaPasa3 b{color:#fff; font-size: 16px;  display:inline-block;font-weight: 400;text-shadow: none;}
#incidenciaPasa3 p{margin-bottom: 0; color:#fff; text-shadow: none;padding-top: 10px;text-align: left; font-family: 'Quicksand', sans-serif; font-size: 14px; font-weight: 700; padding-bottom: 10px;}
#incidenciaPasa3 .row-dates{padding:15px; background:#508a87}
#incidenciaPasa3 .row-dates > p{text-align: center;}
#incidenciaPasa3 .ui-content{padding:0%;}
#incidenciaPasa3 .img-petita{padding-bottom: 10px;}
#incidenciaPasa3 .finalIncid{ width:70px; height:70px; cursor:pointer;float: right;margin-right: 12%;margin-bottom: 5%;margin-top: -100px;}
#incidenciaPasa3 .finalIncid:hover, #incidenciaPasa3 .finalIncid:focus{opacity:0.6;}

/*######## AFEGIR INCIDENCIA PASO 4   #############*/
#incidenciaPasa4 .ui-content{height:74%}
#incidenciaPasa4 .footer{background:#fff; text-align:right; padding:1em 1em; height:14%}
#incidenciaPasa4 .footer img{width:60px;}
#incidenciaPasa4 .footer img:focus, #incidenciaPasa4 .footer img:active{opacity:0.6;}
#incidenciaPasa3 .imgIncidencia{height:auto; overflow:hidden; }
#incidenciaPasa4 .tornaInici{position:absolute; bottom: 4%; right: 4%; width:70px; height:70px; cursor:pointer;}
#incidenciaPasa4 .tornaInici:hover, #incidenciaPasa3 .finalIncid:focus{opacity:0.6;}
#incidenciaPasa4 h1{font-family: 'Quicksand', sans-serif; font-size: 30px; font-weight: 400; margin: 50% 5% 20px;}
#incidenciaPasa4 h3{font-family: 'Quicksand', sans-serif; font-size: 14px; font-weight: 700; }


/*######## LLISTA INCIDENCIES   #############*/
.llistaIncidencies .header.ui-header{box-shadow: 0px 0px 2px 2px #ccc; }
.llistaIncidencies .ui-content{background:#fff; height:88%;}
.llistaIncidencies .footer{display:none;}
.llistaIncidencies .tipus-llista{box-shadow: 0px 0px 2px 2px #ccc; cursor:pointer;}
.llistaIncidencies .tipus-llista > div{background-repeat:no-repeat; background-size:45px auto; background-position:center center;margin:0;}
.llistaIncidencies .location{ height:60px; background-image:url('../icons/location.png'); background-size:33px auto !important;}
.llistaIncidencies .list{ height:60px; background-image:url('../icons/list.png');}
.llistaIncidencies .location.actiu{background-image:url('../icons/location2.png');}
.llistaIncidencies .list.actiu{background-image:url('../icons/list2.png');}
.llistaIncidencies .location:focus, .llistaIncidencies .list:focus{opacity:0.6;}
.llistaIncidencies .ui-collapsible-set{margin:0; height: 100%;float:left; width:100%;}


.ui-mobile #darreresIncidencies.ui-page{background:none !important; background-color:transparent !important;}

#containerLista2.lista2{display:none; height:100%;}
#containerLista{margin-top:1px; height: 100%;}
#containerLista .img{background-size:cover; background-position:center center; background-repeat:no-repeat;height:110px; background-color:#000;}
#containerLista .ui-collapsible-content:first-child{}
#containerLista .incidencia .ui-collapsible-content{height:110px; padding:0;  background:rgba(232, 232, 232, 0.4); border:none;}
#containerLista #collapsiblesetForFilter > div{border-bottom:1px solid rgba(255, 234, 206, 0.4); width:100%; float:left;}
#containerLista .incidencia a:first-child{padding: 9px 5px 9px 15px;}
#containerLista b{font-size:14px; color:#000; font-weight: 400;}
#containerLista p{font-size:12px; color:#000; opacity:0.4; font-weight:400;}
#containerLista p.desc{font-weight: 300; margin:10px 0 0; height: 14px; overflow: hidden;}
.estat-inc{width:30%;}
.estat-inc.assignada{margin-left: -5px;}
.estat-inc span{border-radius: 10px; box-shadow: 0 0 2px 2px #ccc; background:#fff; font-weight: 300; color:#fff; text-align: center; padding: 1px 3px 0; margin:0px; text-transform: uppercase; font-size: 9px; font-family: 'Calibri'; }
.estat-inc.assignada.actiu span{background:#fcd175;}
.estat-inc.tramit.actiu span{background:#fe6464;}
.estat-inc.finalitzada.actiu span{background:#7abf66;}

#mapaLlista{ height:100%;}

#cercador, #cercadorOperari, #cercadorOperariPerVerificar{display:none;}
.ui-collapsible-content-collapsed{display:block;}

#veureIncidencia .ui-content{height:88%}
#veureIncidencia .info{padding:10px 60px;font-size:14px; color:#000;}
#veureIncidencia b{padding:20px 0 10px; display:inline-block;}
#veureIncidencia p{opacity:0.4; font-size:13px;margin-bottom:0;}
#veureIncidencia p:last-child{padding-bottom:40px;}
#veureIncidencia .info img{margin-top:1em;}
#veureIncidencia .img-petita{height:20%; overflow:hidden;}
#veureIncidencia .footer{display:none;}
#veureIncidencia .boto_verificar{background: #6bab6b;color: #fff;text-shadow: none;font-weight: 400;margin-top: 30px;font-size: 16px; border:1px solid #6bab6b; transition:all 0.8s ease-in-out; display:none;}
#veureIncidencia .boto_verificar:hover{color:#6bab6b; background: #fff;}
#estatIncP2{width:180px; border-radius: 10px; padding:3px; text-align: center; margin-top:20px; margin-bottom: 15px; text-transform: uppercase; font-size: 14px; color:#fff;}
#estatIncP2.assignada{background:#fcd175;}
#estatIncP2.tramit{background:#fe6464;}
#estatIncP2.finalitzada{background:#7abf66;}
#veureIncidencia .info img#imgIncidenciaZ{margin-top:30px;}

/*##### AVIS LEGAL  #####*/
#avisLegal .ui-content{background:#fff;padding: 8%;}
#avisLegal .ui-content p{text-align: justify;}
#avisLegal .footer {    display: none;}

/*########### LOGIN PAGE ##########*/
#loginPage .footer{ display:none;}
#loginPage .ui-content{padding:10% 2em;margin:0; width:100%;background:#fff; }
#loginPage input{background:none; padding:10px 0 3px; margin-bottom:28px;}
.pagines-operaris.pagina button{float:right; margin-top:20%; width:auto; border-radius:0; color:#fff; font-size:18px;  border:1px solid #408180; padding:9px 30px; text-shadow:none; font-weight:400;}
.pagines-operaris.pagina button:focus{background:#fff; color:#F0BD0F;}
.pagines-operaris.pagina button:hover{color:#fff; text-shadow:none;}
.pagines-operaris.pagina button{background: #408180}
#loginPage form label{opacity:0.6; margin-bottom:25px;}
#loginPage .notificacions{background:#F9F9F9;border-bottom:1px solid rgba(255, 177, 69, 0.4); box-shadow:2px 2px 2px 2px #ccc; background:#fff; min-height:9%; display:none;}
#loginPage .notificacions div:first-child{padding:3% 0 0 30px; font-size:16px; color:#030600; opacity:0.6;}
#loginPage .notificacions div:first-child label{margin-bottom:0;}
#loginPage .notificacions div:nth-child(2){padding:2.2% 2em 0 0; text-align:right;}
#loginPage .swraper.light{border-radius:12px;}
#loginPage .link-legal{padding: 0 0 3% 30px; display:inline-block;color: rgb(234, 170, 46);}
#login-form-out{display: none;}

.pagina .swraper.light .stoggler .sblob{width:19px !important; height:19px !important; top:47%; }
.pagina .swraper .stoggler{height:20px;}
.pagina .swraper .stoggler.on{transform: translateX(-9px) !important;}
.pagina .swraper .stoggler.off{transform: translateX(-36px) !important;}

#loginPage .operaris{text-align:center;}
#loginPage .operaris button{float:none; width:70%; height:auto; display:inline-block; white-space:normal; border-radius:3px;}
#loginPage .operaris a:last-child > button{margin-top: 20%;background: #ccc;border: 1px solid #ccc;}
#loginPage #botoVeureIncidenciesPerVerificar{display:none}

/*########### OPERARIS ##########*/
.operaris{display:none;}
.operaris.actiu{display:block;}


/*######## LLISTA INCIDENCIES OPERARIS   #############*/
#containerListaOperari{margin-top:1px;}
#containerListaOperari .img{background-size:cover; background-position:center center; background-repeat:no-repeat;height:110px;}
#containerListaOperari .ui-collapsible-content:first-child{}
#containerListaOperari .incidencia .ui-collapsible-content{height:110px; padding:0;  background:#fff; border:none;}
#containerListaOperari #collapsiblesetForFilterOperari > div{border-bottom:1px solid rgba(255, 177, 69, 0.4);}
#containerListaOperari #collapsiblesetForFilterOperari > div.prioritat_1{border-bottom:2px solid #fff;}
#containerListaOperari .incidencia a:first-child{padding:10px 0 3px 1em;}
#containerListaOperari b{font-size:14px; color:#000; font-weight: 400;}
#containerListaOperari p{font-size:12px; color:#000; opacity:0.4; font-weight:400;}
#containerListaOperari p.desc{font-weight: 300; margin:10px 0 0; height: 14px; overflow: hidden;}
#containerListaOperari .prioritat_1{background:#e7b7b6;}
#containerListaOperari .prioritat_1 b, #containerListaOperari .prioritat_1 p{color:#fff; text-shadow:none; opacity:1;}

#veureIncidenciaOperari .ui-content{height:88%}
#veureIncidenciaOperari .info{padding:10px 2em;font-size:14px; color:#000;}
#veureIncidenciaOperari b{padding:20px 0 10px; display:inline-block; font-weight:400;}
#veureIncidenciaOperari p{opacity:0.4; font-size:13px;margin-bottom:0;}
#veureIncidenciaOperari .info img{margin-top:1em;}
#veureIncidenciaOperari .img-petita{height:20%; overflow:hidden;}
#veureIncidenciaOperari .footer{display:none;}
#veureIncidenciaOperari textarea{background:#F0F1F1; border:1px solid rgb(64, 129, 128); padding:10px; }
#veureIncidenciaOperari.pagina button{margin-top:20px;}




/*######## INFO #############*/
.info-turisme{font-family: 'Montserrat';}
.info-turisme .header{background:#49805d;padding-top: 6vw;}
.info-turisme .img {background-size: cover;background-position: center;background-repeat: no-repeat;width: 100%;height: 20vw; max-height: 40vh;}
.info-turisme .header.ui-header > div > div:nth-child(2) {font-size: 6vw; text-transform: uppercase;color: #fff;text-align: center;font-weight: 400;padding-top: 0.5vw;}
.info-turisme .header.ui-header > div > div:last-child { background-image: url('../icons/home.png'); background-size: 7.5vw;background-position: center; background-repeat: no-repeat; height: 8.75vw;}
.info-turisme .header.ui-header > div > div:first-child > a { background-image: url('../icons/back.png'); width: 5vw; height: 5vw; background-repeat: no-repeat; background-position: center; display: inline-block; background-size: 4.25vw;  margin-top: 2.25vw;}
.info-turisme .header.ui-header > div > div:first-child { text-align: center;}
.info-turisme .ui-content{background:#fff;}

/*icons*/
.icon-tur{width: 10vw;height: 10vw;background-repeat: no-repeat;display: inline-block; background-size: 80vw; background-image: url('../icons/sprite_info_turisme.svg');margin-bottom: -0.8vw;}
.icon-tur.ico-clock{background-position: -8.5vw -73.6vw; width: 5vw; height: 5vw;}
.icon-tur.ico-map{background-position: -8.5vw -89.5vw; width: 5vw; height: 5vw;}
.icon-tur.ico-cine{background-position: -5.5vw -1.5vw;}
.icon-tur.ico-teatre{background-position: -5.5vw -13.4vw;}
.icon-tur.ico-radio{background-position: -37.5vw -122vw;background-size: 130vw;width: 16vw;height: 15vw;}

/*######## ONCAPDEPERA #############*/
.oncapdepera h2{text-align: left;font-size: 6.25vw;text-transform: uppercase;color: #040700;margin: 30px 5% 15px;padding: 0;font-family: 'Lato', sans-serif;font-weight: 300;}
.oncapdepera p {font-size: 4.5vw;margin: 18px 5%; padding: 0; color: #040700;font-family: 'Lato', sans-serif; font-weight: 300; line-height: 5.75vw;}
.oncapdepera h1{color: #040700;}
.oncapdepera .ui-content{padding: 0;}

.oncapdepera .icon{background-image:url('../icons/spriteoncapdepera.svg');background-size: auto 12vw;float:left; top:initial;display: inline-block; position:relative;}

/*home*/
#oncapdepera-home .ui-content{background:#444242;}
#oncapdepera-home{background:#444242;}
#oncapdepera-home .menu{padding:5vw 5vw 5vw 20vw; border-bottom: 1px solid #fff;height: 29vw;transition:all 0.8s ease-in-out; position:relative;}
#oncapdepera-home .menu.open{height: auto;}
#oncapdepera-home .icono-menu{position: absolute;left: 3.25vw;top: 4vw; height: 99%; width: 18vw;}
#oncapdepera-home .menu .sub-menu{display: none;float: left; padding-left: 5.75vw;width: 100%;}
#oncapdepera-home .menu .icono-menu span{border-radius: 10vw; width: 18vw;height: calc(100% - 10vw);}
#oncapdepera-home .menu > span:nth-child(2){font-size: 6.5vw; color:#fff; text-shadow:none;padding:4vw 0 1.5vw 3vw; float: left;text-align: left;}
#oncapdepera-home .visites{background-color: #008841; background-position: 2.25px 2.5vw;}
#oncapdepera-home .festes{background-color: #95a543; background-position: -16vw 2.5vw;}
#oncapdepera-home .serveis{background-color: #789130; background-position: -31.75vw 2vw;}
#oncapdepera-home .nuclis{background-color: #ced424; background-position: -48vw 2.5vw;}
#oncapdepera-home .rutes{background-color: #bcc57d; background-position: -64vw 2vw;}
#oncapdepera-home .informa{background-color: #6b9572; background-position: -84.25vw 2.5vw;}
#oncapdepera-home .menu.doble{min-height: 99px;padding: 3vw 5vw 3vw 20vw;}
#oncapdepera-home .menu.doble > span:nth-child(2){padding-top: 0;padding-bottom: 0;}
#oncapdepera-home .menu .sub-menu li{list-style: none; text-shadow:none; color:#aeadb3; font-size: 22px; padding:15px 0;font-weight: 400; background-image: url('../icons/li-menu.png'); background-size: 1.75vw auto; background-position: right center; background-repeat: no-repeat;}


/*fitxa*/
#oncapdepera-fitxa{background:#fff;}
#oncapdepera-fitxa .galeria{margin-top:10vh; margin-bottom: 10vw;}
#oncapdepera-fitxa .galeria > div{padding:3px;}


/*serveis*/
#oncapdepera-serveis .ui-content{background:#fff;}
#oncapdepera-serveis .serveis-menu{margin:10vw auto; max-width: none; border: none;}
#oncapdepera-serveis .serveis-menu > div{text-align: center;}
#oncapdepera-serveis .icon{width: 25vw; margin:0 auto 10px; height: 25vw; border-radius: 15vw; float:none; background-image: url('../icons/spriteserveis.svg'); background-size: 100vw;}
#oncapdepera-serveis .icon.ico-transport{background-color:#6b9572; background-position: 1.75vw 3.5vw;}
#oncapdepera-serveis .icon.ico-salut{background-color:#95a543; background-position: -37.5vw 3.5vw;}
#oncapdepera-serveis .icon.ico-mercats{background-color:#789130; background-position: -78vw 3.5vw;}
#oncapdepera-serveis .icon.ico-info{background-color:#ced424; background-position: -17.75vw 3.5vw;}
#oncapdepera-serveis .icon.ico-seguretat{background-color:#bcc57d; background-position: -57.5vw 3.5vw;}
#oncapdepera-serveis .serveis-menu span{font-size: 4vw; color:#60605d; width: 100%; display: inline-block; text-align: center; margin-bottom: 5vh; text-transform: uppercase;}
#oncapdepera-serveis .mercat{margin-left: 12.5vw;}
#oncapdepera-serveis .servei-contingut > div{background:#f1f1f1; padding:5vw 5vw 2.5vw 5vw; border-top:1px solid #ccc; }
#oncapdepera-serveis .servei-contingut > div:last-child{padding-bottom: 12.5vw;}
#oncapdepera-serveis .servei-contingut span{padding-bottom: 2.5vw; width: 100%; display: inline-block;}
#oncapdepera-serveis .servei-contingut span:first-child{font-size:4.5vw; color:#49805d; text-transform: uppercase;}
#oncapdepera-serveis .servei-contingut span:nth-child(2), #oncapdepera-serveis .servei-contingut span:nth-child(2) > a{font-size:5vw; color:#bcc57d; padding:0;}
#oncapdepera-serveis .servei-contingut span:nth-child(3){font-size:4vw; color:#727176;padding: 2.5vw 0;background-image: url(../icons/marker.svg);background-repeat: no-repeat;background-size: 5vw;background-position: right center; padding-right: 5vw;}
#oncapdepera-serveis .nav-tabs > li > a{background:transparent; border: none; margin:0; border-radius: 0; padding: 0; text-align: center;opacity: 0.5;}
#oncapdepera-serveis .nav-tabs > li.active > a{opacity: 1;}


/*######## ESPORTS #############*/
.info-turisme.esports .header{background:#e40d0d;}
.info-turisme.esports .ui-content{background:#fff; padding: 0;}

/*home*/
#esports-home #llista-esports > div{margin-bottom: 4px;}
#esports-home #llista-esports > div > div{height: 25vw;}
#esports-home #llista-esports > div > div:first-child{margin-right:2px;background-color: #d9d9d9; padding:20px 5px; color:#e40d0d; text-align:center; font-size:13vw; line-height: 15vw; font-weight:700;text-shadow: none; width: calc(25% - 2px);}
#esports-home #llista-esports > div > div:nth-child(2){background-color: #7f7f7f; padding:20px 10px; color:#fff; text-align:left; font-size:4vw; line-height: 5vw; font-weight:300;text-shadow: none; }
#esports-home #llista-esports > div > div:nth-child(2)::after{content:"+"; position: absolute; right: 6vw; top:calc(50% - 3vw); width:6vw; height: 6vw; color:#fff; font-size: 9vw; text-align: center; font-weight: 700;}
#esports-home #llista-esports > div > div:nth-child(2) p{margin: 0;padding: 0;}
#esports-home #llista-esports > div > div:nth-child(2) b{font-weight: 400;}

/*fitxa*/
.info-turisme.fitxa .img{height: 58vw;max-height: 40vh; max-width: none;}
.info-turisme.fitxa .ui-content > .row:last-child{padding: 30px 20px 40px;}
.info-turisme.fitxa h4{font-weight: 300; font-size: 6vw; text-transform: uppercase; color:#985d61; text-decoration: underline; margin-bottom: 4vh;}
.info-turisme.fitxa h3{margin:0; text-align: left; color:#7f7f7f; text-transform: uppercase; font-weight: 300;font-size: 6vw;}
.info-turisme.fitxa h2{font-weight: 700; font-size: 7vw; color:#5b5b5f;margin-bottom: 5vh;}
.info-turisme.fitxa p{color:#5b5b5f; font-size: 3.4vw;padding: 3vh 0;}
.info-turisme.fitxa .no-padding{margin:0; padding: 0;}
.info-turisme.fitxa .data-hora{margin:0; padding: 0;}




/*######## ESDEVENIMENTS #############*/
.esdeveniments .ui-header{background:#c5b141;}
.esdeveniments .ui-content{padding: 0;}

/*llista*/
#esdeveniments-home .ui-content{background:#3f3f3e}
#llista-esdeveniments > div{padding: 8vw 20px 8vw 19vw; color:#fff; font-size:5vw; font-weight: 700; border-bottom: 2px solid #fff; text-shadow:none;}
#llista-esdeveniments > div::before{position:absolute; left: 2vw; top: 4.5vw; width:14vw; height: 14vw; content: " "; background-image: url(../icons/sprite_info_turisme.svg); background-size: 100vw; }
#llista-esdeveniments > div.cine::before{background-position: -6.5vw -1.5vw;}
#llista-esdeveniments > div.teatre::before{background-position: -6.5vw -16.4vw;}

/*fitxa*/
#esdeveniments-fitxa.fitxa h1{font-size: 6vw;}
#esdeveniments-fitxa.fitxa h4{color:#d1c167;}
#esdeveniments-fitxa.fitxa h2{text-align: left;margin-bottom: 2vh;}
#esdeveniments-fitxa.fitxa h3{font-size: 4vw;}
#esdeveniments-fitxa.fitxa p{padding: 3vh 0 0.5vw;}
#esdeveniments-fitxa.fitxa p.data-hora{padding: 0.5vw 0px 0.5vw 6vw;position: relative;}
#esdeveniments-fitxa.fitxa p.data-hora::before{content:" "; position:absolute; left:0; top:0; width: 5vw; height: 5vw; background-image: url(../icons/sprite_info_turisme.svg); background-size: 80vw; }
#esdeveniments-fitxa.fitxa p.data-hora.fecha::before{background-position: -8vw -58.5vw;}
#esdeveniments-fitxa.fitxa p.data-hora.hora::before{background-position: -1.4vw -56.3vw; background-size: 29vw;}

/*######## NOTICIES #############*/
.noticies .ui-header{background:#708e9a}

/*home*/
#noticies-home p{font-size: 3.5vw; text-shadow:none; line-height: 3.9vw; padding: 5px 0 20px; font-weight: 400;}
#noticies-home .ui-content{padding:30px;}
/*fitxa*/
#noticies-fitxa .ui-content{padding:0 0 40px;}
#noticies-fitxa .ui-content > div:last-child{padding:10px 20px 10px;}
#noticies-fitxa small{float:right; color:#708e9a;}
#noticies-fitxa h5{font-weight: 400; font-size: 5vw; margin:2vh 0; padding: 5vh 0 1vh;}
#noticies-fitxa p{margin:0 ; padding: 1vh 0 2vh;}



/*######## RADIO #############*/
.radio_ .ui-header{background:#d4df86}
.radio_ .img{height: 52vh; max-height: none;}
.radio_ .ui-content{padding: 0;}
.radio_ .ui-content > .row:last-child{margin-top: -7vw;}
.radio_ .ui-content > .row:last-child > div{text-align: center;}
.radio_ h3{color:#5b5b5f;font-size: 6vw;}
.radio_ .ico-tur.ico-radio{background-position: -40vw -126.8vw;background-size: 135vw;width: 15vw;height: 15vw;}
.radio_.ui-page-theme-a button{width: 60vw;margin: 3vh auto;border-radius: 0;border: 1px solid #d4df86;background-color: #d4df86;color: #5b5b5f;text-shadow: none;font-size: 6vw;padding: 3vw 1vw;}
.radio_.ui-page-theme-a button:hover, .radio_.ui-page-theme-a button:active, .radio_.ui-page-theme-a button:focus{background-color: #fff; }


/*######## LOGIN #############*/
.login .ui-header{background:#a2c037}
.login .ui-content{padding: 0;}
.login.info-turisme .img { height: 40vw;}
.login.ui-page-theme-a button{width: 60vw;margin:7vh auto 3vh;border-radius: 0;border: 1px solid #d4df86;background-color: #a2c037;color: #fff;text-shadow: none;font-size: 6vw;padding: 4vw 1vw;}
.login.ui-page-theme-a button:hover, .login.ui-page-theme-a button:active, .login.ui-page-theme-a button:focus{background-color: #fff;color: #5b5b5f; }
.login .img{margin-bottom: 7vh;}
.login label{margin:1vh 20px; color: #211915; font-size: 6vw; font-weight: 300;}
.login input{ box-shadow: none; border-radius: 0; border:1px solid #5b5b5f; font-size: 6vw; padding: 2vw 20px;}
.login.ui-page-theme-a .ui-body-inherit{border:none; box-shadow: none;margin:1vh 20px 0;}



/*########### DIALOG ##########*/
#sure{ background-image: url('../images/fondo.png') !important;font-size:15px;}
#sure .sure-1 img{padding-right:10px; width:87px;}
#sure .ui-overlay-shadow{box-shadow: 0 5px 3px 0px rgba(0,0,0,.4);}
#sure .sure-2{padding:20px; text-align:center;  text-shadow:none; color:#000; opacity:0.6;}
#sure .ui-content{margin-top:10%; color:#fff !important; background:#fff; border-radius:0px; height:auto; text-align:center;}
#sure .botoLink{ display: inline-block;width: 100%;padding-bottom: 20px;font-weight: 400;text-shadow: none; color:#fff; display:inline-block; width:100%; text-align:center; color:#EDB60B;}
#sure .sure-do.ui-link{display:inline-block; border:none;border-radius:0; text-shadow:none;font-weight:400;padding:7px 25px; background:#288973; }
#sure .sure-do.ui-link:focus{box-shadow: 0 0 12px rgba(0,0,0,0.6);}
